<nav class="navbar navbar-expand-sm navbar-dark bg-primary app-shadow-top">

    <nav class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto mr-auto">
          <li  class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a  class="nav-link" routerLink="/">Home</a>
          </li>
        <li class="nav-item" routerLinkActive="active">
            <!-- News -->
          <a  class="nav-link" routerLink="news">News</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <!-- Login -->
          <a routerLink="login"  class="nav-link" >Login</a>
        </li>
      </ul>
    </nav>
  </nav>